Repository ajitreddy013/TalkAR: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit-backend, npm-audit-admin

.pre-commit-config.yaml:

repos:
  # Detect secrets in code
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: |
          (?x)^(
            package-lock.json|
            npm-shrinkwrap.json|
            yarn.lock|
            pnpm-lock.yaml|
            .*\.md|
            SECURITY_ROTATION_GUIDE.md|
            SECURITY_INCIDENT_RESPONSE.md
          )$

  # Gitleaks for secret scanning
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks
        args: ["--verbose"]

  # Check for private keys
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # TypeScript/JavaScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@8.56.0
          - "@typescript-eslint/eslint-plugin@6.19.0"
          - "@typescript-eslint/parser@6.19.0"

  # Security audit for Node.js
  - repo: local
    hooks:
      - id: npm-audit-backend
        name: NPM Security Audit (Backend)
        entry: bash -c 'cd backend && npm audit --audit-level=high'
        language: system
        pass_filenames: false
        files: backend/package(-lock)?\.json

      - id: npm-audit-admin
        name: NPM Security Audit (Admin Dashboard)
        entry: bash -c 'cd admin-dashboard && npm audit --audit-level=high'
        language: system
        pass_filenames: false
        files: admin-dashboard/package(-lock)?\.json

  # Check for common security issues
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: dockerfile_lint
        files: Dockerfile

  # Prettier for code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]
        exclude: |
          (?x)^(
            package-lock.json|
            npm-shrinkwrap.json
          )$

feat(week4-perf): Implement comprehensive performance optimization for Samsung A35
  docs/3D_AVATAR_OPTIMIZATION_GUIDELINES.md
  docs/WEEK4_PERFORMANCE_OPTIMIZATION_REPORT.md
Due: none

docs(week4): add comprehensive Phase 1 completion summary
  docs/WEEK4_PHASE1_COMPLETION_SUMMARY.md
Due: none

Add git filter repo secrets file
  DEPLOYMENT_UPDATE_GUIDE.md
  scripts/git-scrub-secrets-filter-repo.txt
  scripts/git-scrub-secrets.txt
Due: none

chore(security): remove leaked Supabase URL from documentation
  DEPLOYMENT_UPDATE_GUIDE.md
Due: none

chore(security): remove temporary files and finalize secret removal
  comprehensive-secrets-to-remove.txt
  scripts/git-scrub-secrets-filter-repo.txt
  secrets-to-remove.txt
Due: none

chore: security enhancements and code updates
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  SECURITY_GUIDELINES.md
  SECURITY_INCIDENT_RESPONSE.md
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/playwright.config.ts
  admin-dashboard/tests/e2e/smoke.spec.ts
  backend/package-lock.json
  backend/package.json
  backend/src/config/supabase.ts
  backend/src/middleware/validation.ts
  backend/src/routes/avatars.ts
  backend/src/routes/enhancedLipSync.ts
  backend/src/routes/scripts.ts
  backend/src/services/analyticsService.ts
  backend/src/services/authService.ts
  backend/src/services/enhancedLipSyncService.ts
  backend/src/services/scriptService.ts
  backend/src/tests/performance.test.ts
  backend/src/tests/setup.ts
  mobile-app/app/src/main/assets/README.md
  mobile-app/app/src/main/java/com/talkar/app/ar/CameraAngleTracker.kt
  mobile-app/app/src/main/java/com/talkar/app/ar/ImageAnchorManager.kt
  scripts/git-scrub-secrets.txt
  scripts/rotate-secrets.sh
  scripts/run-mobile-smoke.sh
  scripts/testsprite-runner.sh
  security-audit-report.json
  security-audit.js
  testsprite.yml
Due: npm-audit-backend, npm-audit-admin

Fix CameraAngleTracker type mismatch error by using explicit type annotations and named parameters for better type safety
  PR_REVIEW_FIXES.md
  backend/package-lock.json
  backend/package.json
  backend/src/middleware/logging.ts
  backend/src/routes/enhancedLipSync.ts
  backend/src/routes/scripts.ts
  backend/src/routes/sync.ts
  backend/src/scripts/populateTestData.ts
  backend/src/services/analyticsService.ts
  backend/src/services/authService.ts
  backend/src/services/authServiceSupabase.ts
  backend/src/services/enhancedLipSyncService.ts
  backend/src/services/supabaseService.ts
  backend/src/services/syncService.ts
  backend/src/services/syncServiceSupabase.ts
  backend/src/tests/api.test.ts
  backend/src/tests/performance.test.ts
  backend/src/tests/syncService.test.ts
  backend/tests/talkar-backend.test.ts
  mobile-app/app/src/main/java/com/talkar/app/ar/CameraAngleTracker.kt
  mobile-app/app/src/main/java/com/talkar/app/ar/ImageAnchorManager.kt
  mobile-app/app/src/main/res/raw/README.md
Due: npm-audit-backend

fix: resolve CI/CD cache and PostgreSQL authentication issues
  .github/workflows/ci.yml
Due: none

fix: improve mobile-tests job configuration
  .github/workflows/ci.yml
Due: none

fix: improve security-scan job configuration
  .github/workflows/ci.yml
Due: none

fix: address 9 of 13 security vulnerabilities
  SECURITY_VULNERABILITIES_STATUS.md
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  backend/package-lock.json
  backend/package.json
  backend/src/tests/api.test.ts
  backend/src/tests/performance.test.ts
  backend/src/tests/syncService.test.ts
  backend/tests/talkar-backend.test.ts
Due: npm-audit-backend, npm-audit-admin

Fix CI/CD pipeline issues: Update Node.js version, Android SDK setup, security scan permissions and error handling
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Make CI/CD pipeline more resilient to linting and test failures
  .github/workflows/ci.yml
Due: none

Fix TypeScript compilation errors and unused imports
  SECURITY_VULNERABILITIES_STATUS.md
  admin-dashboard/src/App.test.tsx
  admin-dashboard/src/App.tsx
  admin-dashboard/src/__tests__/testsprite.frontend.test.tsx
  admin-dashboard/src/components/MultiImageUploadDialog.tsx
  admin-dashboard/src/hooks/useAuth.tsx
  admin-dashboard/src/hooks/useSupabaseData.ts
  admin-dashboard/src/pages/Analytics.tsx
  admin-dashboard/src/pages/Dialogues.tsx
  admin-dashboard/src/pages/Images.tsx
  admin-dashboard/src/pages/Settings.tsx
  admin-dashboard/src/services/multiImageService.ts
  admin-dashboard/src/store/slices/authSlice.ts
  backend/src/routes/admin.ts
  backend/src/routes/analytics.ts
  backend/src/routes/auth.ts
  backend/src/routes/authSupabase.ts
  backend/src/routes/enhancedLipSync.ts
  backend/src/routes/images.ts
  backend/src/routes/scripts.ts
  backend/src/routes/sync.ts
  backend/src/routes/syncSupabase.ts
Due: none

Fix mobile app compilation errors and update dependencies
  .secrets.baseline
  DEPENDENCY_UPDATE_SUMMARY.md
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/playwright-report/index.html
  backend/package-lock.json
  backend/package.json
  mobile-app/app/src/main/java/com/talkar/app/ui/components/EnhancedARView.kt
Due: npm-audit-backend, npm-audit-admin

Update dependencies and enhance AR view component
  .env.example
  README.md
  docker-compose.yml
  mobile-app/app/src/main/java/com/talkar/app/ui/components/EnhancedARView.kt
Due: none

Implement multi-language support: Fix language handling in backend and mobile app, add language parameter support to API calls, update UI components for language selection
  backend/src/routes/sync.ts
  backend/src/services/syncService.ts
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/data/repository/ImageRepository.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/LanguageTestingScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/ARViewModel.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/SimpleARViewModel.kt
  mobile-app/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile-app/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile-app/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile-app/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile-app/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile-app/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile-app/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile-app/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile-app/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile-app/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

Fix PR feedback: Replace GlobalScope with proper coroutine scopes and inline permission constants
  mobile-app/app/src/main/java/com/talkar/app/EnvironmentalRealismTest.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/ARImageRecognitionService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/BackendImageARService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/EnhancedARService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/MultiImageARService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/OptimalImageARService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/SimpleARService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/ARCoreOnlyView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/AROverlayCameraView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/ARView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/BasicCameraView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/CameraPreviewView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/EnhancedCameraView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/MLKitCameraView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/NewARView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/SimpleCameraARView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/SimpleCameraView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/SimpleRealCameraView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/UltraSimpleARView.kt
Due: none

feat(week3): Implement AI pipeline with Sync.so integration - Phase 2: AI Intelligence and Real-Time Interaction
  WEEKLY_COMMIT_PLAN.md
  backend/AI_PIPELINE_README.md
  backend/SCRIPT_GENERATION_README.md
  backend/SYNC_SO_INTEGRATION_README.md
  backend/TTS_INTEGRATION_README.md
  backend/audio/mock-audio-2i4o1q-en-happy-2025-10-22T18-14-35-044Z.mp3
  backend/audio/mock-audio-5x8x7-en-neutral-2025-10-22T18-17-59-896Z.mp3
  backend/audio/mock-audio-a1ylxv-en-serious-2025-10-22T18-17-59-917Z.mp3
  backend/audio/mock-audio-b6f9z2-es-neutral-2025-10-22T18-17-59-920Z.mp3
  backend/audio/mock-audio-gwxcvy-en-neutral-2025-10-22T18-17-59-922Z.mp3
  backend/audio/mock-audio-h5nrhu-en-happy-2025-10-22T18-17-59-914Z.mp3
  backend/audio/mock-audio-jm2n6y-en-serious-2025-10-22T18-14-35-051Z.mp3
  backend/audio/mock-audio-wbur7l-en-neutral-2025-10-22T18-17-59-930Z.mp3
  backend/env.example
  backend/scripts/script-product-iphone-en-2025-10-22T17-49-24-281Z.txt
  backend/scripts/script-product-iphone-en-2025-10-22T17-51-36-135Z.txt
  backend/scripts/script-product-macbook-en-2025-10-22T17-49-24-294Z.txt
  backend/scripts/script-product-macbook-en-2025-10-22T17-51-36-148Z.txt
  backend/scripts/script-product-smart-refrigerator-en-2025-10-22T17-49-24-296Z.txt
  backend/scripts/script-product-smart-refrigerator-en-2025-10-22T17-51-36-150Z.txt
  backend/src/index.ts
  backend/src/routes/aiPipeline.ts
  backend/src/scripts/testAIPipeline.ts
  backend/src/services/aiPipelineService.ts
  backend/src/tests/aiPipelineService.test.ts
  backend/test-ai-pipeline.js
  backend/test-caching.js
  backend/test-emotion-support.js
  backend/test-error-handling.js
  backend/test-lipsync.js
  backend/test-product-script.js
  backend/test-script-generation.js
  backend/test-sync-integration.js
  backend/test-tts-comprehensive.js
  backend/test-tts.js
  docs/AI_PIPELINE_SETUP.md
  mobile-app/app/src/main/java/com/talkar/app/data/services/ARImageRecognitionService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/EnhancedARService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/EmotionalAvatarView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/EnhancedARView.kt
Due: none

docs: Add weekly progress summary for AI pipeline implementation
  WEEKLY_PROGRESS_SUMMARY.md
Due: none

docs: Add Sync.so API integration summary document
  SYNC_SO_INTEGRATION_SUMMARY.md
Due: none

docs: Update documentation for generate_ad_content endpoint and AI pipeline enhancements
  GENERATE_AD_CONTENT_SUMMARY.md
  SYNC_SO_INTEGRATION_SUMMARY.md
  WEEKLY_PROGRESS_SUMMARY.md
  backend/AI_PIPELINE_README.md
  backend/src/routes/aiPipeline.ts
  backend/src/services/aiPipelineService.ts
  backend/test-ad-content.js
  docs/AI_PIPELINE_SETUP.md
Due: none

test: Add testing checklist results for AI pipeline endpoints
  TESTING_CHECKLIST_RESULTS.md
Due: none

docs: Add Week 6 deliverables summary confirming all requirements met
  WEEK6_DELIVERABLES_SUMMARY.md
Due: none

feat: Complete AI pipeline implementation with generate_ad_content endpoint - Finalizes Week 6 deliverables
  FINAL_IMPLEMENTATION_SUMMARY.md
Due: none

feat: Add linting to admin-dashboard and improve CI
  .github/workflows/ci.yml
  admin-dashboard/package.json
Due: npm-audit-admin

Refactor: Improve CI workflow and frontend linting
  .github/workflows/ci.yml
  admin-dashboard/.eslintrc.js
  admin-dashboard/package.json
Due: npm-audit-admin

ci: enhance CI/CD pipeline with improved error handling and resilience
  .github/workflows/ci.yml
Due: none

feat: add ESLint configuration for admin dashboard with improved linting rules
  admin-dashboard/.eslintrc.js
  admin-dashboard/package.json
Due: npm-audit-admin

feat: add ESLint configuration for backend with improved linting rules
  backend/.eslintrc.js
  backend/package.json
Due: npm-audit-backend

fix: resolve ESLint dependency conflict in admin-dashboard by removing explicit @typescript-eslint dependencies
  admin-dashboard/.eslintrc.js
  admin-dashboard/package.json
Due: npm-audit-admin

enhance: restore TypeScript-specific ESLint rules for better code quality while maintaining dependency compatibility
  admin-dashboard/.eslintrc.js
Due: none

fix: update mobile tests to use Java 17 for Android SDK compatibility
  .github/workflows/ci.yml
Due: none

fix: ensure Java 17 is properly set up before Android SDK setup with verification step
  .github/workflows/ci.yml
Due: none

fix: add required permissions for SARIF upload in security scan
  .github/workflows/ci.yml
Due: none
