Repository ajitreddy013/TalkAR: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit-backend, npm-audit-admin

npm-audit-backend:
  name: NPM Security Audit (Backend)
  entry: bash -c 'cd backend && npm audit --audit-level=high'
  language: system
  pass_filenames: false

npm-audit-admin:
  name: NPM Security Audit (Admin Dashboard)
  entry: bash -c 'cd admin-dashboard && npm audit --audit-level=high'
  language: system
  pass_filenames: false

security: Remove unused validator dependency (CVE-2025-56200)
  backend/SECURITY_MITIGATION.md
  backend/audio/mock-audio-mtfefx-en-happy-2025-10-24T20-25-12-632Z.mp3
  backend/audio/mock-audio-yqsujk-en-neutral-2025-10-24T20-25-12-655Z.mp3
  backend/package-lock.json
  backend/package.json
  backend/scripts/script-f0bbfd54-eb21-4ac9-9c10-a6b670cf4984-en-happy-2025-10-24T20-25-12-631Z.txt
  backend/scripts/script-product-iphone-15-pro-en-2025-10-24T20-25-12-649Z.txt
  backend/scripts/script-product-smart-watch-en-2025-10-24T20-25-12-654Z.txt
Due: npm-audit-backend

feat: Implement Week 7 deliverables - Dynamic AI script generation with tone support and personalized output
  FRONTEND_INTEGRATION_SUMMARY.md
  MOBILE_APP_INTEGRATION_SUMMARY.md
  mobile-app-flow-test.js
  mobile-app/app/src/main/java/com/talkar/app/data/services/AdContentFrontendIntegrationTest.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/AdContentGenerationIntegrationTest.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/EnhancedARView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/ARScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/AdContentTestScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/Week2ARScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/EnhancedARViewModel.kt
Due: none

Implement streaming optimization for AI pipeline to reduce latency
  backend/src/models/associations.ts
  backend/src/routes/aiPipeline.ts
  backend/src/services/aiPipelineService.ts
  backend/test-streaming-optimization.js
Due: none

Implement partial playback streaming feature: Add ExoPlayer support for audio streaming with 2-3 second buffer, avatar placeholder during buffering, and lipsync video replacement
  backend/audio/mock-audio-b1w0s1-en-neutral-2025-10-24T21-18-39-934Z.mp3
  backend/audio/mock-audio-b1w0s1-en-neutral-2025-10-24T21-21-48-459Z.mp3
  backend/audio/mock-audio-rf9c8g-en-neutral-2025-10-24T21-21-48-473Z.mp3
  backend/scripts/script-product-iphone-en-2025-10-24T21-18-39-933Z.txt
  backend/scripts/script-product-iphone-en-2025-10-24T21-21-48-459Z.txt
  backend/scripts/script-product-macbook-en-2025-10-24T21-21-48-472Z.txt
  mobile-app/app/build.gradle
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/AdContentGenerationService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/AudioStreamingService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/EnhancedARView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/StreamingAvatarView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/ARScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/EnhancedARViewModel.kt
  mobile-app/app/src/test/java/com/talkar/app/data/services/AdContentGenerationServiceTest.kt
  mobile-app/app/src/test/java/com/talkar/app/data/services/AudioStreamingServiceTest.kt
  mobile-app/app/src/test/java/com/talkar/app/ui/components/StreamingAvatarViewTest.kt
  mobile-app/app/src/test/java/com/talkar/app/ui/viewmodels/EnhancedARViewModelTest.kt
Due: none

Implement AR overlay optimization: Add 'Generating ad...' animation, retry mechanism, and caching for ads
  mobile-app/app/src/main/java/com/talkar/app/data/services/AdContentGenerationComprehensiveTest.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/EnhancedARService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/AdContentOverlay.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/EnhancedARScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/EnhancedARViewModel.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/SimpleARViewModel.kt
Due: none

Fix build issues and implement AR overlay optimization: Add 'Generating ad...' animation, retry mechanism, and caching for ads
  mobile-app/app/build.gradle
  mobile-app/app/src/main/java/com/talkar/app/data/services/AudioStreamingService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/StreamingAvatarView.kt
  mobile-app/app/src/test/java/com/talkar/app/data/services/AdContentGenerationServiceTest.kt
  mobile-app/app/src/test/java/com/talkar/app/data/services/AudioStreamingServiceTest.kt
  mobile-app/app/src/test/java/com/talkar/app/ui/components/StreamingAvatarViewTest.kt
  mobile-app/app/src/test/java/com/talkar/app/ui/viewmodels/EnhancedARViewModelTest.kt
  mobile-app/app/src/test/java/com/talkar/app/ui/viewmodels/SimpleTest.kt
Due: none

Implement performance optimizations for AI pipeline - Meet all performance targets (audio ≤1.5s, video ≤3s, total ≤5s)
  backend/audio/mock-audio-b1w0s1-en-neutral-2025-10-25T17-35-45-857Z.mp3
  backend/audio/mock-audio-ktprph-en-neutral-2025-10-25T17-35-45-848Z.mp3
  backend/audio/mock-audio-m2av6s-en-neutral-2025-10-25T17-35-45-870Z.mp3
  backend/audio/mock-audio-qn5d9-en-neutral-2025-10-25T17-35-45-864Z.mp3
  backend/audio/mock-audio-rf9c8g-en-neutral-2025-10-25T17-35-45-860Z.mp3
  backend/audio/mock-audio-s4flac-en-neutral-2025-10-25T17-35-45-867Z.mp3
  backend/scripts/script-product-iphone-en-2025-10-25T17-35-45-857Z.txt
  backend/scripts/script-product-macbook-en-2025-10-25T17-35-45-859Z.txt
  backend/scripts/script-product-nike-shoes-en-2025-10-25T17-35-45-866Z.txt
  backend/scripts/script-product-samsung-tv-en-2025-10-25T17-35-45-870Z.txt
  backend/scripts/script-product-tesla-en-2025-10-25T17-35-45-863Z.txt
  backend/src/index.ts
  backend/src/routes/performance.ts
  backend/src/services/aiPipelineService.ts
  backend/src/services/performanceMetricsService.ts
  backend/test-performance-optimization.js
  backend/tests/performance-metrics.test.ts
  backend/tests/performance-optimization.test.ts
Due: none

Implement Week 8 deliverables: Real-time streaming pipeline, smooth transitions, and live AR overlay
  WEEK8_DELIVERABLES_SUMMARY.md
  mobile-app/app/src/androidTest/java/com/talkar/app/StreamingAvatarViewTest.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/EmotionalAvatarView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/StreamingAvatarView.kt
Due: none

Implement short-term memory for avatar to remember past interactions and adapt responses
  SHORT_TERM_MEMORY_IMPLEMENTATION_SUMMARY.md
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/data/local/ImageDatabase.kt
  mobile-app/app/src/main/java/com/talkar/app/data/local/ScannedProductDao.kt
  mobile-app/app/src/main/java/com/talkar/app/data/models/ScannedProduct.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/AdContentGenerationService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/ShortTermMemoryTest.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/StreamingAvatarView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/Week2ARScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/EnhancedARViewModel.kt
Due: none

Implement feedback capture with thumbs up/down buttons and backend sync
  FEEDBACK_CAPTURE_IMPLEMENTATION_SUMMARY.md
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/data/local/FeedbackDao.kt
  mobile-app/app/src/main/java/com/talkar/app/data/local/ImageDatabase.kt
  mobile-app/app/src/main/java/com/talkar/app/data/models/Feedback.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/FeedbackCaptureTest.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/FeedbackSyncService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/FeedbackAvatarOverlay.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/Week2ARScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/EnhancedARViewModel.kt
Due: none

Implement conversational context feature with voice input, AI responses, and avatar integration
  CONVERSATIONAL_CONTEXT_IMPLEMENTATION_SUMMARY.md
  backend/src/routes/aiPipeline.ts
  backend/src/services/aiPipelineService.ts
  backend/tests/test-conversational-context.js
  mobile-app/app/src/main/AndroidManifest.xml
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/data/models/ConversationalResponse.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/ConversationalContextService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/SpeechRecognitionService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/WhisperService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/ConversationalAvatarView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/VoiceInputButton.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/ConversationalScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/SimpleARViewModel.kt
  mobile-app/app/src/test/java/com/talkar/app/data/services/ConversationalContextServiceTest.kt
  mobile-app/app/src/test/java/com/talkar/app/data/services/SpeechRecognitionServiceTest.kt
  mobile-app/app/src/test/java/com/talkar/app/data/services/WhisperServiceTest.kt
  mobile-app/app/src/test/java/com/talkar/app/ui/viewmodels/SimpleARViewModelConversationalTest.kt
Due: none

feat: Implement AI Config dashboard page with tone/language toggles, default avatar setting, and AI pipeline event logs
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/src/App.tsx
  admin-dashboard/src/pages/AIConfig.tsx
  backend/src/index.ts
  backend/src/models/AIConfig.ts
  backend/src/models/associations.ts
  backend/src/routes/aiConfig.ts
  backend/src/routes/analytics.ts
  backend/src/services/aiConfigService.ts
  backend/src/services/aiPipelineService.ts
  backend/src/services/analyticsService.ts
Due: npm-audit-admin

Phase 2 Implementation: Complete Slynk-level Android clone with real-time AI pipeline, interactive AR experience, and smart backend dashboard
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/src/App.tsx
  admin-dashboard/src/pages/AIConfig.tsx
  admin-dashboard/src/pages/Analytics.tsx
  admin-dashboard/src/pages/Dashboard.tsx
  admin-dashboard/src/pages/Settings.tsx
  admin-dashboard/src/services/analyticsService.ts
  admin-dashboard/src/services/feedbackService.ts
  admin-dashboard/src/services/settingsService.ts
  backend/package-lock.json
  backend/package.json
  backend/src/config/database.ts
  backend/src/index.ts
  backend/src/models/Feedback.ts
  backend/src/models/Settings.ts
  backend/src/models/associations.ts
  backend/src/routes/aiConfig.ts
  backend/src/routes/feedback.ts
  backend/src/routes/settings.ts
  backend/src/services/aiConfigService.ts
  docker-compose.override.yml
  mobile-app/app/build.gradle
  mobile-app/app/src/main/java/com/talkar/app/MainActivity.kt
  mobile-app/app/src/main/java/com/talkar/app/TalkARApplication.kt
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/ConfigSyncService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/WhisperService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/ConversationalAvatarView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/VoiceInputButton.kt
  mobile-app/app/src/test/java/com/talkar/app/ui/viewmodels/SimpleARViewModelConversationalTest.kt
  mobile-app/build.gradle
Due: npm-audit-backend, npm-audit-admin

Add pre-commit configuration for code quality checks
  .pre-commit-config.yaml
Due: none

Week 6: AI Pipeline Setup & Integration - Complete
  WEEK6_DELIVERABLES.md
  WEEK6_EXECUTION_CHECKLIST.md
  WEEK6_EXECUTION_SUMMARY.md
  WEEK6_IMPLEMENTATION_SUMMARY.md
  WEEK6_NEXT_STEPS_GUIDE.md
  WEEK6_QUICK_START.md
  backend/WEEK6_TESTING_GUIDE.md
  backend/test-week6-endpoints.js
Due: none

feat: Implement Phase 2 - Week 7: Dynamic Script Generation & Personalization
  WEEK7_IMPLEMENTATION_SUMMARY.md
  backend/audio/mock-audio-29mz70-en-neutral-2025-10-27T22-35-22-856Z.mp3
  backend/audio/mock-audio-5uhi47-en-neutral-2025-10-27T22-35-22-862Z.mp3
  backend/audio/mock-audio-as98ee-en-neutral-2025-10-27T22-35-22-869Z.mp3
  backend/audio/mock-audio-cwb7sy-en-happy-2025-10-27T22-35-22-851Z.mp3
  backend/audio/mock-audio-mtfefx-en-happy-2025-10-27T22-35-22-873Z.mp3
  backend/audio/mock-audio-pyhbhu-en-neutral-2025-10-27T22-35-22-860Z.mp3
  backend/audio/mock-audio-segh4p-en-neutral-2025-10-27T22-35-22-858Z.mp3
  backend/data/product-metadata.json
  backend/data/user_preferences.json
  backend/scripts/script-product-iphone-15-pro-en-2025-10-27T22-35-22-858Z.txt
  backend/scripts/script-product-nike-running-shoes-en-2025-10-27T22-35-22-862Z.txt
  backend/scripts/script-product-pepsi-en-2025-10-27T22-35-22-856Z.txt
  backend/scripts/script-product-premium-coffee-maker-en-2025-10-27T22-35-22-869Z.txt
  backend/scripts/script-product-tesla-model-3-en-2025-10-27T22-35-22-860Z.txt
  backend/src/index.ts
  backend/src/routes/aiPipeline.ts
  backend/src/routes/generateDynamicScript.ts
  backend/src/services/aiPipelineService.ts
  backend/src/services/optimizedScriptService.ts
  backend/src/utils/dynamicScriptLogger.ts
  backend/src/utils/posterHelper.ts
  backend/src/utils/userHelper.ts
  backend/test-week7-dynamic-script.js
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/ARImageRecognitionService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/DynamicScriptService.kt
Due: none

Phase 2 Week 8: Implement real-time voice and lip-sync streaming - Complete concurrent AI pipeline, audio streaming, async lip-sync, and Android UI updates
  TESTING_CHECKLIST_RESULTS.md
  backend/src/index.ts
  backend/src/routes/aiPipeline.ts
  backend/src/services/aiPipelineService.ts
  mobile-app/app/src/main/java/com/talkar/app/ui/components/StreamingAvatarView.kt
Due: none

Security updates: Upgrade validator.js to 13.15.20 and webpack-dev-server to 4.15.2 to address CVE vulnerabilities
  admin-dashboard/package.json
  backend/package.json
Due: npm-audit-backend, npm-audit-admin

Update package-lock.json after security updates
  backend/package-lock.json
Due: npm-audit-backend

Fix camera freezing issue and backend improvements
  backend/data/user_context.json
  backend/package-lock.json
  backend/package.json
  backend/populate-db-direct.js
  backend/populate-test-images.js
  backend/simple-server.js
  backend/src/routes/aiPipeline.ts
  backend/src/routes/feedback.ts
  backend/src/routes/generateDynamicScript.ts
  backend/src/services/aiPipelineService.ts.backup2
  backend/src/services/optimizedScriptService.ts
  backend/src/utils/interactionLogger.ts
  backend/src/utils/memoryHelper.ts
  backend/test-context-recall.js
  backend/test-images/backpack.jpg
  backend/test-images/butter.jpg
  backend/test-images/headphones.jpg
  backend/test-images/shoes.jpg
  backend/test-images/water-bottle.jpg
  mobile-app/app/build.gradle
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/data/config/ApiConfig.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/ARImageRecognitionService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/BackendImageARService.kt
  mobile-app/app/src/main/java/com/talkar/app/data/services/FeedbackSyncService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/ARCameraView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/StreamingAvatarView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/Week2ARScreen.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/EnhancedARViewModel.kt
Due: npm-audit-backend

Fix camera preview issue and clean up UI
  mobile-app/app/src/main/java/com/talkar/app/data/services/BackendImageARService.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/components/CameraPreviewView.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/screens/Week2ARScreen.kt
Due: none

feat: Implement Smart Dashboard & Analytics (Week 10)
  admin-dashboard/package-lock.json
  admin-dashboard/package.json
  admin-dashboard/playwright-report/index.html
  admin-dashboard/src/App.tsx
  admin-dashboard/src/pages/AIConfig.tsx
  admin-dashboard/src/pages/Alerts.tsx
  admin-dashboard/src/pages/Dashboard.tsx
  admin-dashboard/src/pages/Interactions.tsx
  admin-dashboard/src/pages/LiveMonitor.tsx
  admin-dashboard/src/services/analyticsService.ts
  admin-dashboard/tsconfig.json
  backend/package-lock.json
  backend/package.json
  backend/scripts/supabase-keepalive.js
  backend/src/index.ts
  backend/src/models/Interaction.ts
  backend/src/models/Metric.ts
  backend/src/models/associations.ts
  backend/src/routes/admin.ts
  backend/src/routes/aiPipeline.ts
  backend/src/services/aiPipelineService.ts
  backend/src/services/analyticsWorker.ts
  backend/src/utils/simpleCache.ts
Due: npm-audit-backend, npm-audit-admin

feat: Add Interaction Filters and Documentation (Week 10 Polish)
  admin-dashboard/src/pages/Interactions.tsx
  admin-dashboard/src/services/analyticsService.ts
  backend/src/routes/admin.ts
Due: none

Prepare for cloud deployment: config, db, render.yaml, vercel.json
  admin-dashboard/vercel.json
  backend/scripts/supabase_schema.sql
  backend/src/config.ts
  backend/src/db.ts
  backend/src/index.ts
  render.yaml
Due: none

Fix: Force add public folder for Vercel deployment
  admin-dashboard/public/index.html
Due: none

Fix: Update .gitignore to allow public folder
  admin-dashboard/.gitignore
Due: none

Fix: Ensure devDependencies (TypeScript) are installed during Render build
  render.yaml
Due: none

Fix: Prevent startup crash by lazy-loading OpenAI client
  backend/src/routes/generateDynamicScript.ts
  backend/src/services/optimizedScriptService.ts
Due: none

Fix: Configure Sequelize to use DATABASE_URL and SSL for Supabase
  backend/src/config/database.ts
Due: none

Fix: Force IPv4 DNS resolution to prevent ENETUNREACH error
  backend/src/config.ts
Due: none

Fix: Ensure IPv4 DNS resolution runs before all other imports
  backend/src/bootstrap.ts
  backend/src/config.ts
  backend/src/index.ts
Due: none

Fix: Manually resolve database host to IPv4 to prevent ENETUNREACH
  backend/src/config/database.ts
  backend/src/index.ts
Due: none

Cleanup: Remove manual DNS resolution (user switching to IPv4 URL)
  backend/src/config/database.ts
  backend/src/index.ts
Due: none

chore(mobile): update API configuration for debug and release builds
  mobile-app/app/build.gradle
Due: none

feat: Week 12 Production Hardening
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/services/enhancedLipSyncService.ts
  backend/src/services/optimizedScriptService.ts
  backend/src/tests/rateLimit.test.ts
  backend/src/utils/logger.ts
  backend/test-rate-limit.js
  docs/API_FLOW.md
  docs/ARCHITECTURE.md
  docs/RELEASE_CHECKLIST.md
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
  mobile-app/app/src/main/java/com/talkar/app/ui/viewmodels/EnhancedARViewModel.kt
Due: npm-audit-backend

chore: Resolve security vulnerabilities
  admin-dashboard/package-lock.json
  backend/package-lock.json
Due: npm-audit-backend, npm-audit-admin

fix: resolve GitHub Actions failures by updating lint configs and fixing mobile build
  admin-dashboard/package.json
  backend/.eslintrc.js
  backend/package.json
  backend/src/tests/syncService.test.ts
  mobile-app/app/src/main/java/com/talkar/app/data/api/ApiClient.kt
Due: npm-audit-backend, npm-audit-admin

fix: resolve test type definition errors and minor lint fixes
  backend/.gitignore
  backend/src/routes/multiImageRoutes.ts
  backend/src/services/performanceMetricsService.ts
  backend/tsconfig.json
Due: none

Path conditions:
  npm-audit-backend: any of: backend/package(-lock)?\.json
  npm-audit-admin: any of: admin-dashboard/package(-lock)?\.json
